*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Sticky footer fix
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main{
    flex: 1 0 auto;
  }
}

img, figure{
  max-width: 100%;
}

h1{font-family: $font2; font-weight: 300; color: $color-h1;}
h2{font-family: $font2; font-weight: 300; color: $color2;}
h3{font-family: $font2; font-weight: 300; color: $color-h3;}
h4{color: $color-h4;}
h5{color: $color-h5;}
h6{color: $color-h6;}

p,ul,ol{
  margin-bottom: $paragraph-margin-bottom;
}

.titlebar{
  background: $color2;
  font-size:3em;
  padding:1em;
  color:#fff;
}

#page_content {
  padding:35px 0;
}
